@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --navbar-color: #3c3a39;
  --hero-color: #1c1a19;
  --orange-color: #ff6b00;
  --semi-white-color: #fff5e1; 
  --white-color: #fff;
  --black-color: #000;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --border-radius: 0.5rem;
  --box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  --transition: all 0.03s linear;
  --spacing: 0.3rem;
  --light-spacing: 0.5rem;
  --max-width: 1440px;
}

* {
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.3s linear;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5rem;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--white-color);
  color: var(--black-color);
  width: 100%;
}

a {
  font-family: 'Poppins', sans-serif;
  color: var(--black-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  color: var(--black-color);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--navbar-color);
}

.nav-link {
  list-style: none;
  margin: 20px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: var(--transition);
}

#res-menu {
  display: flex;
  flex-direction: column;
}

.brand-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
}

.brand-menu h2 {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
}

.brand-menu .toggleMenu {
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  color: #fff;
}

.nav-links {
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease-in-out;
}

.nav-links li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3.5rem;
}

.nav-links li a {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
  text-align: start;
}

.nav-links li a:hover {
  color: var(--orange-color);
}

.nav-link .envelope-icon {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.show-nav-links {
  height: 100vh;
}

#error {
  color: red;
  font-size: 1.2rem;
  margin-left: 20px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {  
  .nav-link .envelope-icon {
    display: none;
  }

  .hero {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: var(--hero-color);
    background-image: url(/images/all-mobile-images/headline-mobile.svg);
    background-position-y: 290px;
    background-position-x: right;
    background-repeat: no-repeat;
    height: 670px;
  }

  .hero-text {
    padding: 20rem 2rem;
  }

  .hero-text h1 {
    width: 100%;
    color: var(--orange-color);
    font-weight: bolder;
    font-size: 56px;
    line-height: 64px;
    font-family: 'Crete Round', sans-serif;
  }

  .hero-text h2 {
    font-size: 24px;
    color: var(--semi-white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    width: 327px;
    height: 27px;
    margin: 12px 0;
    padding-top: 12px;
  }

  .hero-text p {
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 327px;
    height: 123px;
    padding-top: 12px;
  }

  .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: -130px;
  }

  .social-icon {
    margin-right: 16px;
    color: var(--white-color);
    height: 20px;
    width: 18px;
    margin-left: 2rem;
  }

  .featured-works {
    padding: 0 1.5rem;
    margin-top: 80px;
    flex-direction: column;
  }

  .featured-works-heading {
    height: 83px;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 52px;
    margin-bottom: 20px;
    text-align: center;
  }

  .recent-works-hr {
    width: 327px;
    height: 0.5px;
    background-color: #212121;
    border: 1px solid #212121;
    margin-top: 24px;
  }

  .featured-work-text {
    width: 327px;
    height: 237px;
  }

  .featured-work-text h3 {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: start;
    color: #091e42;
    margin-bottom: 12px;
  }

  .featured-work-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
  }

  .featured-work-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
  }

  .desktop-image{
    display: none;
  }

  .featured-work-tag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    background-color: #fff;
    border: 1px solid #8993a4;
    padding: 8px 12px;
    margin-right: 8px;
    text-align: center;
  }

  .featured-work-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    background: var(--orange-color);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .desktop-image {
    display: none;
  }

  .sixth-works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: -50px 0; 
    background-image: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(images/works/mobile/first-work-mobile.svg);
  }

  .fifth-works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: -0px 0; 
    background-image: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(images/works/mobile/first-work-mobile.svg);
  }

  .fourth-works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: -40px 0; 
    background-image: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(images/works/mobile/first-work-mobile.svg);
  }

  .second-works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: -50px 0; 
    background-image: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(images/works/mobile/first-work-mobile.svg);
  }

  .first-works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 60px 0; 
    background-image: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(images/works/mobile/first-work-mobile.svg);
  }

  .first-work-title-here, .first-description, .first-tools-used, .first-featured-work-tags  {
    padding-left: 2rem;
    color: #fff;
  }

  .first-work-title-here {
    margin-top: 20rem;
    font-weight: 400;
    font-size: 30px;
  }

  .first-description {
    width: 100%;
    max-height: 200px;
    width: 295px;
    height: 87px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .first-featured-work-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .featured-work-tag-html, .featured-work-tag-bootstrap, .featured-work-tag-ruby {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    padding: 10px 12px;
    margin-right: 8px;
    text-align: center;
    background: rgba(255, 255, 255, 0.24);
  }

  .first-view-work {
    background-color: #f55800;
    text-align: center;
    padding: 16px;
    text-decoration-line: none;
    color: #fff;
    width: 100%;
    height: 64px;
    font-size: 18px;
    font-weight: 700;
  }

  .first-view-work:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .first-view-work:disabled {
    background: #f4f1f0;
    border: none;
    color: #5b5957;
  }

  /* ANOTHER SECTION STARTS HERE - PERSONAL DATA, CONTACT FORM, FOOTER */

  #personal-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 375px;
  height: 1900px;
  padding: 20px 0;
  background-color: #000;
  margin: 0 auto;
  overflow: hidden;
  color: var(--white-color);
}

#resume {
  background-image: url(images/all-mobile-images/about-ken-mobile.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 650px;
  object-fit: contain;
  text-align: start;
}

.resume-btn {
  text-decoration-line: none;
  color: #fff;
  background-color: #f55800;
  height: 60px;
  text-align: center;
  font-size: 19.5px;
  font-weight: bold;
  padding: 15px 20px;
  margin-left: 20px;
  margin-right: 70px;
}

.resume-btn > a {
  text-decoration-line: none;
  color: #fff;
  text-align: center;
  font-size: 19.5px;
  font-weight: bold;
}

.resume-btn> a:active {
  background: #e05304;
}

.resume-btn > a:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.resume-btn > a:disabled {
  background: #f4f1f0;
  border: none;
  color: #5b5957;
}

.resume-btn> a:enabled {
  background: #f55800;
  border: 1px solid #f55800;
  color: #fff;
}

#resume > h2 {
  color: #f55800;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  margin-left: 20px;
  margin-bottom: 16px;
  margin-top: 80px;
}

#resume > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 36px;
  margin-left: 20px;
  width: 330px;
}

#skills {
  border-top: 1px solid #888;
  padding: 120px 0 0 0;
  clear: both;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

#skills > ul {
  list-style-position: inside;
  font-size: 35px;
  float: center;
  list-style-image: linear-gradient(to right, #f55800, #f55800);
  text-indent: -30px;
  padding: 0;
  margin: 0;
}

ul.skill {
  list-style: none;
  font-size: 22px;
  margin-left: -50px;
  text-align: start;
}

/* DISABLE DESKTOP ABOUT ME */
.about-me {
  display: none;
}


.contact-me {
  max-width: 375px;
  padding: 70px 20px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

#contact-para {
  width: 100%;
  height: auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding-left: 0;
}

.person-name {
  display: none;
  margin: 0;
}

form {
  width: 100%;
  padding-right: 0;
  margin-top: 40px;
}

.text-input-box {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #888;
}

.form-msg {
  width: 100%;
  height: 114px;
  text-align: left;
  margin: 15px 0 30px;
  padding: 5px;
  border: none;
  background-color: #fbf8f7;
}

.submit-button {
  text-align: center;
  text-decoration-line: none;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-color: #f55800;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  height: 40px;
  border: none;
  margin-top: 10px;
}

#contact-social-media {
  width: calc(100% - 5px);
  display: flex;
  justify-content: center;
  height: 50px;
  list-style: none;
  padding-inline-start: 0;
  border-top: 1px solid #888;
  padding: 20px 0 0 0;
  margin: 100px 0 0 0;
}

#contact-social-media > li {
  padding-right: 15px;
}

#about-lang {
  display: flex;
  padding-left: 60px;
  color: var(--white-color);
}

#about-lang > li {
  padding-right: 15px;
}

#about-lang > li > a {
  text-decoration: none;
  color: var(--white-color);
}

.about-me-lang {
  color: var(--white-color);
  font-family: 'InaiMathi';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding: 20px;
}

#about-me-rectangle {
  padding-right: 12px;
}

#lang-list {
  list-style-type: none;
  margin-left: -35px;
  text-align: start;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--white-color);
}

#lang-list li {
  margin-bottom: 20px;
  margin-left: -10px;
  text-align: center;
  color: var(--white-color);
  font-size: 22px;
}

#about-hori-line {
  border: 1px solid #fff;
  width: 90%;
  margin-bottom: 56px;
  margin-top: 32px;
  margin-left: 20px;
}

#about-image {
  display: grid;
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
  background-image: url("./images/about-me-image.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -50px;
  }

  /* Design pop up for feature work */

.featured-works-popup {
  width: 343px;
  height: 93%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding-left: 15px;
  padding-right: 30px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #e05304;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.featured-works-popup-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.fa-close {
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  color: var(--hero-color);
}

.featured-works-popup-title {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  cursor: pointer;
  color: #172B4D;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;
  line-height: 44px;
}

.featured-work-tags-popup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.featured-work-tag-popup {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  background-color: #fff;
  border: 1px solid #dfe1E6;
  padding: 8px 12px;
  margin-right: 8px;
  text-align: center;
}

.featured-works-popup-img {
  width: 311px;
  height: 220px;
  object-fit: cover;
  margin-bottom: 20px;
}

.featured-works-popup-text {
  margin-top: 20px;
}

.featured-works-popup-para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  margin-bottom: 20px;
  text-align: justify;
}

.featured-works-popup-btns {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#featured-works-popup-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--orange-color);
  border: none;
  padding: 10px 20px;
}

.btn-text-popup {
  color: #fff;
}

.featured-works-popup-btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background-color: #172B4D;
  border: 1px solid #172B4D;
  padding: 8px 12px;
  margin-right: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.open-feature-work-popup {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  top: 200%;
  }
}

/* DESKTOP VERSION */
@media screen and (min-width: 768px) {

  /* .featured-works-popup, .open-feature-work-popup {
    display: none;
  } */

  .brand-menu {
    padding: 1rem 2rem;
    display: block;
  }

  #res-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .brand-menu h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bolder;
    margin-left: 156px;
  }

  .brand-menu .toggleMenu {
    display: none;
  }

  .links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .nav-links {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 156px;
  }

  .nav-links li {
    padding: 0;
  }

  .nav-links li a {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding: 0 2rem;
    text-transform: capitalize;
  }

  .nav-link {
    margin: 0;
    border-bottom: none;
    display: inline-block;
  }

  .hero {
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: 870px;
    width: 100%;
    background-color: var(--hero-color);
    background-image: url(/images/all-desktop/hero-image.svg);
    background-position-x: right;
    background-repeat: no-repeat;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 12rem;
  }

  .hero-text h1 {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: var(--orange-color);
    margin-bottom: 12px;
    margin-top: 192px;
    justify-content: center;
    align-items: center;
    width: 25%;
  }

  .hero-text h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--semi-white-color);
    margin-bottom: 12px;
    width: 50%;
  }

  .hero-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 506px;
    color: var(--semi-white-color);
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
    margin-top: -240px;
    font-weight: 400;
  }

  .social-icon {
    margin: 0 0 2.5rem 0;
  }

  .featured-works {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 15px;
  }

  .featured-works-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
    margin-top: 60px;
    margin-left: 53px;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .recent-works-hr {
    width: 594px;
    height: 2px;
    border: 1px solid #212121;
    margin-right: 53px;
  }

  /* START FEATURE WORK DESKTOP DESIGN HERE */

  .featured-works {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 60px;
    margin-left: 53px;
    display: none;
  }

  .feature-work-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    margin-top: 60px;
    margin-left: 53px;
    display: none;
  }


  .mobile-image {
    display: none;
  }

  .featured-work-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding: 0 2rem;
    display: none;
  }

  .featured-work-text h3 {
    margin-top: -170px;
    width: 448px;
    height: 48px;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091E42;
    display: none;
  }

  .featured-work-text p {
    width: 448px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091E42;
    display: none;
  }

  .featured-work-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    gap: 10px;
    width: 124px;
    display: none;
  }

  .featured-work-tag {
    border: 1px solid #8993A4;
    padding: 10px 12px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091E42;
    display: none;
  }

  .featured-work-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 48px;
    background: #F55800;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
    display: none;
  }

  .featured-works-popup-container {
    display: none;
  }

  /* NEW DESIGN FOR PERSONAL DATA */

  /* DISABLE ABOUT ME MOBILE VERSION */

  .personal-data {
    display: none;
  }

.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 100%;
  margin: 20px auto;
  background:#262626;
  height: 1000px;
}

.featured {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about {
  margin-top: -100px;
  margin-left: 142px;
  margin-right: 142px;
}

.about-me-title {
  justify-content: flex-start;
  color: #fff;
  order: 1;
  margin-bottom: 24px;
  width: 566px;
  height: 78px;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #F55800;
}

.about-me-para {
  color: #F4F5F7;
  width: 566px;
  height: 148px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #F4F5F7;
}

.about > a {
  color: #fff;
  order: 3;
  margin-top: 24px;
  width: 137px;
  height: 24px;
  background: #F55800;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding: 12px 24px;
}

article img, article.featured {
  width: 100%;
}

.about-me-featured-img {
  height: 252px; 
  margin-top: 50px;
  background-position: center right;
  margin-bottom: 200px;
}

.hr-lines {
  display: flex;
  width: 150%;
  margin-left: 220px;
  margin-right: 222px;
  margin-top: -600px;
}

.about-me-hr-lines {
  height: 1px;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
}

.lower-part-about-me {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: -700px; 
  margin-top: -400px;
  color: #fff;
}

.about-lang {
  display: flex;
  margin-top: 320px;
}

.about-me-languages {
  width: 228px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  display: flex;
  color: #fff;
  font-family: 'Inter';
}

.about-me-lang {
  width: 228px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  color: #fff;
  font-family: 'Inter';
}

.about-me-rectangle {
  height: 24px;
  width: 24px;
  margin-right: 12px;
  margin-top: 10px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 44px;
}

.lang-list > li {
  margin-bottom: 32px;
  margin-top: -10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

}

